In [ ]:
#5.23 5:28

SELECT REPEAT('* ', @NUMBER := @NUMBER - 1) FROM information_schema.tables,
(SELECT @NUMBER:=21) t 
LIMIT 20;