In [ ]:
Weather Observation Station 17

Query the Western Longitude (LONG_W)where the smallest Northern Latitude (LAT_N) in STATION
is greater than . Round your answer to  decimal places.
select round(LONG_W,4) from STATION where LAT_N>38.7780 order by LAT_N limit 1;

In [ ]:
Weather Observation Station 14

Query the greatest value of the Northern Latitudes (LAT_N) from STATION that is less than 137.2345.
Truncate your answer to 4 decimal places.

select round(MAX(LAT_N),4) from STATION where LAT_N<137.2345 order by LAT_N;

In [ ]:
#11.04

This did not work# SELECT ABS(AVG(Salary)-AVG(CONVERT(REPLACE(STR(Salary),'0','')),INTEGER)) AS diff_salary FROM EMPLOYEES;


But this did: SELECT CEIL(AVG(Salary)-AVG(REPLACE(Salary,'0',''))) FROM EMPLOYEES;