In [ ]:
#The following query is clearer compared to the MYSQL one in the git
with f1 as (
SELECT x, y,row_number()over(partition by x,y order by x) as cnt FROM Functions f1)

SELECT DISTINCT f1.x,f1.y from f1 inner join Functions f2 on f1.x=f2.y and f1.y=f2.x and (f1.x!=f1.y or cnt >1)
where f1.x<=f1.y
order by f1.x;

In [ ]:
SELECT X, Y FROM FUNCTIONS F1
    WHERE EXISTS(SELECT * FROM FUNCTIONS F2 WHERE F2.Y = F1.X
    AND F2.X = F1.Y AND F2.X > F1.X) AND (X != Y)
UNION
SELECT X,Y FROM FUNCTIONS F1 WHERE X = Y AND 
    ((SELECT COUNT(*) FROM FUNCTIONS WHERE X = F1.X AND Y = F1.X) > 1)
      ORDER BY X;

In [ ]:
SELECT x, y,row_number()over(partition by x,y order by x) as count_val FROM Functions f1
UNION
SELECT DISTINCT f1.x,f1.y from f1 inner join Functions f2
on f1.x=f2.y and f1.y=f2.x and (f1.x!=f1.y or count_val >1)
where f1.x<=f1.yorder by f1.x;